<h1>Result</h1>
<p><%= @message_prefix %> <strong><%= @word.upcase %></strong> <%= @message_suffix %></p>

<p>Your grand score is: <%= @score %></p>
<p class='text-primary'><%= link_to "Play again", new_path %></p>
